.form-newsletter{
    display: flex;
    width: 100%;
    overflow: hidden; /*A propriedade especifica se deve recortar o conteúdo ou adicionar barras de rolagem quando o conteúdo de um elemento for muito grande para caber na área especificada.*/
    box-sizing: border-box;
    border-radius: 7px;
    border: 2px solid #e93d50;
    background-color: #e93d50;
}

.form-newsletter__label{
    position: absolute;
    left: -10000px; /*para esconder o conteudo*/
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.form-newsletter__campo{
    padding: .6rem .4rem;
    flex-grow: 1; /*A propriedade especifica quanto o item crescerá em relação ao restante dos itens flexíveis dentro do mesmo contêiner*/
    border: none;
}
.form-newsletter__botao{
    flex-grow: 1;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #e93d50;
    color: white;
}